[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
kafka-python = "*"
google-cloud-storage = "*"
python-http-client = "*"
confluent-kafka = "*"
google-cloud-bigquery = "*"
apache-airflow = "*"
pyspark = "*"
pybigquery = "*"

[dev-packages]

[requires]
python_version = "3.10"
